apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: test-certificate
  namespace: cert-manager
spec:
  secretName: test-tls
  issuerRef:
    name: {{ cluster_issuer_name }}
    kind: ClusterIssuer
  dnsNames:
    - "{{ domain_name }}"
    - "*.{{ domain_name }}"
  duration: 2160h # 90 days
  renewBefore: 360h # 15 days
