apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      websecure:
        tls:
          enabled: true

    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true

    service:
      type: LoadBalancer

    logs:
      general:
        level: INFO
      access:
        enabled: true
        format: json

    metrics:
      prometheus:
        enabled: true
